<h1>Editing article</h1>
 
<%= form_for :article, url: article_path(@article), method: :patch do |f| %>
 
  <%= render :partial => 'form', locals: {:f => f} %>
 
<% end %>
 
<%= link_to 'Back', articles_path %>