<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article.id) %></td>
      <td><%= link_to 'Edit', edit_article_path(article.id) %></td>
      <td><%= link_to 'destroy',article_path(article.id), method: 'delete', 
                      data: { confirm: 'Are you sure want to delete?' }%>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to 'Back to home page' , new_article_path %>