<h1> New Article </h1>
<%= form_for @article, url: articles_path do |f| %>
  <%= render :partial => 'form', locals: {:f => f} %>
  <p> 
    <%=link_to 'View all',articles_view_all_path %>
   
  </p>
<% end %>